<header class="hero-unit" id="banner">
  <div class="container">
    <h1>FBE Security System</h1>
    <p class="lead">Respond to security threat by sending alarm</p>
    <img src="assets/images/MQ_FBE_Logo.png" alt="FBE">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Client Connect</h1>
       {{connect()}}
       <!-- {{send_connect_info()}} -->
    	<div><p id="status" ng-class={green:isConnected()}>Waiting for input</p></div>
           <button type="submit" class="btn btn-primary" id="connect" ng-click='connect()'>Connect</button>
    	     <button type="submit" class="btn btn-danger"  id="disconnect" ng-click='disconnect()'>Disconnect</button>
    	     <button type="submit" class="btn btn-warning" id="send" ng-click='send()'>Send Message</button>
    	 <br>
      </div>
    </div>
  </div>
</div>    



<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/merumman">@merumman</a> |
         <a href="https://github.com/knofler/key/issues">Issues</a></p>
  </div>
</footer>